.service{
    background-color: rgb(229, 0, 0); 
    color: white;
    width: 200px;
    display: block;
    padding: 10px;
    
}
.service :hover{
    background-color: #4e4e4e;
}
.service :active{
   background-color: #4e4e4e;
   color:#222; 
}
.services{
    margin-top: 10px;
}
