.modal-body>.container{
    width: inherit;
    text-align: left;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.a_change_form_text{
  text-align: left;
}