$selected-bg-color: rgba(180, 0, 0,0.8);
.hour{
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.hour :hover{
    background-color: $selected-bg-color;
}
.hour>div{
    padding: 10px;
    background-color: rgba(34,34, 34,0.6);
    margin: 3px;
}
.selected{
    background-color: $selected-bg-color!important;
}