@import '../admin-panel/admin-panel.component';
@import '../schedule/schedule.component';

#add-hairdresser-btn{
    margin-top: 20px;
}

rating{
    float: right;
}
#upcoming{
    color: white;
}

.upcoming-container{
    padding: 5px;
    // background-color: rgba(150,0,0,0.4);
    border-bottom: 1px solid white;
}
.upcoming-datetime{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);;
    // margin: 5px;
    // border-radius: 5px;
}
.vcenter {
    // display: inline-block;
    vertical-align: middle;
    // float: none;
}
.a_cancel{
    float: right;
    // vertical-align: middle;
}
#a_cancel_modal{
    color: rgb(229,0,0);
}
.row{
    margin-left: 0;
    margin-right: 0;
    width: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header{
    border-bottom: 2px solid white;
}