<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
			<a class="navbar-brand page-scroll" [routerLink]="['/']" (click)="goTo('page-top')">Hair salon</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a [routerLink]="['/reservation']" >Reserve visit</a>
				</li>
				<li>
					<a [routerLink]="['/']" [fragment]="'about'" (click)="goTo('about')">About</a>
				</li>
				<li>
					<a [routerLink]="['/']" [fragment]="'services'" (click)="goTo('services')">Services</a>
				</li>
				<li>
					<a [routerLink]="['/']" [fragment]="'portfolio'" (click)="goTo('portfolio')">Portfolio</a>
				</li>
				<li>
					<a [routerLink]="['/']" [fragment]="'contact'" (click)="goTo('contact')">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>