<div class="ng-gallery" *ngIf="showRepeat">
	<div *ngFor="let i of modalImages; let index = index">
		<img src="{{ i.thumb }}" class="ng-thumb" (click)="openGallery(index)" alt="Image {{ index + 1 }}" />
	</div>
</div>
<div class="ng-overlay" *ngIf="opened">
	<div class="ng-gallery-content">
		<div class="uil-ring-css" *ngIf="loading">
			<div></div>
		</div>
		<a class="close-popup" (click)="closeGallery()"><span class="glyphicon glyphicon-remove"></span></a>
		<a class="nav-left" *ngIf="modalImages.length >1" (click)="prevImage()"><span class="glyphicon glyphicon-menu-left"></span></a>
		<img *ngIf="!loading" src="{{imgSrc}}" (click)="nextImage()" class="effect" />
		<a class="nav-right" *ngIf="modalImages.length >1" (click)="nextImage()"><span class="glyphicon glyphicon-menu-right"></span></a>
		<span class="info-text">{{ currentImageIndex + 1 }}/{{ modalImages.length }} - Image {{currentImageIndex+1}}</span>
	</div>
</div>