$primary-bg-color: rgb(229,0,0);
.w100{
  padding: 0;
  width: 100%;
}
.main-page{
  margin-bottom: 50px;
}
.bg-primary{
  background-color: rgb(150,0,0);
}
.btn{
  border-radius: 0;
}
hr{
  border-color: $primary-bg-color;
}
.btn-primary{
  background-color: $primary-bg-color;
}
.text-primary{
  color: $primary-bg-color;
}
main-footer{
  position: absolute;
  height: 50px;
  width: 100%;
}
footer{
  border-top: 1px solid $primary-bg-color;
}
#span-author{
  color: #777;
  float: right;
}

.section-opinions{
  color: white;
  text-transform: uppercase;
}
.opinion-text{
  color: white;
}

.service-name{
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 0;
}
.service-price{
  color: white;
}
.service-tr{
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.5);
}
table{
  margin-left: auto;
  margin-right: auto;
}
.a_reservation{
  text-align: right;
  width: initial;
}