$primary-bg-color: rgb(229,0,0);
.w100{
  padding: 0;
  width: 100%;
}
.main-page{
  margin-bottom: 50px;
}
.bg-primary{
  background-color: $primary-bg-color;
}
.btn{
  border-radius: 0;
}
hr{
  border-color: $primary-bg-color;
}
.btn-primary{
  background-color: $primary-bg-color;
}
.text-primary{
  color: $primary-bg-color;
}
main-footer{
  position: absolute;
  height: 50px;
  width: 100%;
}
footer{
  border-top: 1px solid $primary-bg-color;
}
