<div class="container">
	<div class="row">
		<div class="col-md-3">
			<my-datepicker></my-datepicker>
		</div>
		<div class="col-md-3">
			<my-hairdresserpicker (onChosenHairdresser)="onChosenHairdresser($event)"></my-hairdresserpicker>
		</div>
		<div class="col-md-3" *ngIf="chosenHairdresser">
			<my-servicepicker (onChosenService)="onChosenService($event)"></my-servicepicker>
		</div>
		<div class="col-md-3" *ngIf="chosenService">
			<my-hourpicker></my-hourpicker>
		</div>
	</div>
	<div class="row">
		<button id="reserve" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#confirm-modal">RESERVE VISIT</button>
		<confirm-modal [modalContent]="modalContent"></confirm-modal>
	</div>
</div>